body {
    background-color: rgba(56, 53, 52, 0.918);
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;
}

button{
   margin: 3px 3px;
   text-align: center;
   border-radius: 4px;
}

label{
    color:white;
}

img { 
    width: 10%; 
}

#karmaDisplay{
  text-align: center;
}

.tab{
  cursor: pointer;
  color: white;
  position: absolute;
  text-align: center;
  width: 65px;
  font-size: small;
  border: 1.5px solid black;
}

#plantsTab {
  background-color: green;
  left: 50px;
  z-index: 3;
}

#smartsTab {
  background-color: DarkSlateBlue;
  left: 110px;
  z-index: 2;
}

#plants {
  position: absolute;
  top: 175px;
}