body {
    background-color: rgba(56, 53, 52, 0.918);
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;
}

button{
   margin: 3px 3px;
   text-align: center;
   border-radius: 4px;
}

label{
    color:white;
}

#header{
  position: fixed;
  left:50%;
}

#karmaDisplay{

  text-align: center;
}

.tab{
  cursor: pointer;
  color: white;
  position: absolute;
  text-align: center;
  width: 65px;
  font-size: small;
  border: 1.5px solid black;
}

#plantsTab{
  background-color: green;
  left: 50px;
  z-index: 3;
}

#skillsTab{
  background-color: DarkSlateBlue;
  left: 110px;
  z-index: 2;
}

.tabWindow{
  position: relative;
  top: 2rem;
  left: 3rem;
  border: solid; /*todo: remove border. this is for testing of element positions*/
}

#settingsDisplay{
  position: absolute;
  bottom: 0rem;
}

#skillTreeContainer{
  position: fixed;
  left: 50%;
  top: 70%;
}
/*move these to a seperate css file*/
#treePic {
  position: relative;
  left: 50%;
  scale: 1;
}

#res1{
  position: relative;
  left: 38px;
  bottom: 23px;
}
#res2{
  position: relative;
  left: 40px;
  bottom: 130px;
}